{% extends 'base.html.twig' %}

{% block title %}Air-V Flying Spirit / Travail aérien{% endblock %}

{% block body %}

<div class="body-bg">

    <div id="carouselExampleIndicators" class="carousel slide img-fluid" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/imgCarousel1.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/imgCarousel2.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/imgCarousel3.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/imgCarousel4.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/imgCarousel5.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/imgCarousel6.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/imgCarousel7.jpg') }}" class="d-block w-100 img-fluid" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container container-bg">

        <h1 class="text-center my-5">
            OFFREZ-VOUS UN NOUVEL HORIZON PUBLICITAIRE ! 
        </h1>

        <h2 class="my-5">
                LA PUBLICITE AERIENNE, Y AVEZ-VOUS PENSE POUR LA PROMOTION DE VOTRE ENTREPRISE ?
        </h2>

        <p class="text-center">
            Remorquage de banderole publicitaire en avion léger. Soyez au coeur de l'évènement !
        </p>

        <hr class="mt-5 mb-0">

        <div class="div-banderole mb-5 row">
            
            <div class="my-5 col-12 col-lg-8 ">
                <h3 class="mb-1">
                    DESCRIPTION :
                </h3>
                <p>
                    Pour une publicité d'entreprise, un évènement sportif, un mariage, 
                    un anniversaire, une déclaration, la banderole aérienne tractée par 
                    un avion ULM est un moyen original pour annoncer et valoriser 
                    votre message.
                </p>
                <p>
                    La publicité aérienne, le long des côtes, des plages ou des 
                    campings et lieux de rassemblement est le média incontournable 
                    pour répondre à votre besoin de visibilité et de publicité.
                </p>
                <p>
                    La banderole aérienne, visible par tous, est toujours perçue 
                    avec curiosité. Elle est parfaitement adaptée à tous les types 
                    de messages, publicitaires ou d’informations.
                </p>
                
                <h3 class="my-5 mb-1">
                    POURQUOI ?
                </h3>
                <p>
                    Original et spectaculaire, évoluant dans un environnement sans 
                    pression publicitaire, le message s’impose aux regards et marque 
                    les esprits, pour un impact maximal.
                </p>
                <p>
                    <ul>
                        <li>
                            10 millions de touristes sur les plages des côtes 
                            de Loire Atlantique et Vendéennes,
                        </li>
                        <li>
                            73% d'entres eux ont pour activité principale : 
                            la plage et la baignade,
                        </li>
                        <li>
                            Ce qui permet un potentiel de visibilité 
                            de plusieurs centaines de milliers de personnes par heure 
                            de vol.
                        </li>
                    </ul>
                </p>
                <p>
                    Les avantages de la publicité aérienne :
                </p>
                <p>
                    <ul>
                        <li>
                            Elle exprime beaucoup qu'une simple vision éphémère,
                        </li>
                        <li> 
                            Le message est diffusé dans un environnement vierge 
                            de toute publicité,
                        </li>
                        <li>
                            Le public , disponible et attentif, est facilement 
                            captivé par l'originalité de ce média,
                        </li>
                        <li>
                            Le support est réutilisable sur plusieurs années,
                        </li>
                        <li>
                            Le rapport coût/impact est le moins onéreux du marché. 
                        </li>
                    </ul>
                </p>

                <h3 class="my-5 mb-1">
                    ENVIRONNEMENT ?
                </h3>
                <p>
                    Sur les plages, aux abords des zones urbaines et touristiques, 
                    des campings, des aires d’animations, la banderole offre une 
                    puissance visuelle incomparable par son format et sa mobilité.
                </p>
                <p>
                    La plage et les chemins côtiers sont les seuls endroits capables 
                    de rassembler un immense public totalement réceptif à toute 
                    action ludique.
                </p>
                <p>
                    <ul>
                        <li>
                            C'est ce que représente la publicité aérienne ! Elle suscite 
                            l'étonnement et l'admiration !
                        </li>
                        <li class="fw-bold">
                            Dès lors, votre message est vu, lu et retenu !
                        </li>
                    </ul>
                </p>

                <h3 class="my-5 mb-1">
                    COMMENT ?
                </h3>
                <p>
                    Avec peu de logistique et un coût de réalisation parfaitement 
                    maîtrisé, la banderole publicitaire permet d’effectuer des 
                    campagnes de communication avec un budget bien inférieur à ceux 
                    nécessaires via les médias traditionnels.
                </p>

                <h3 class="my-5 mb-1">
                    QUAND ?
                </h3>
                <p>
                    Durant la période estivale, les vacances scolaires, les week-end...toute 
                    l'année, hiver, printemps, automne comme été...les jours de soleil, 
                    le ciel dégagé, le long de nos côtes, le promeneur sera interpellé et 
                    saisira avec amusement et curiosité votre message !
                </p>

                <h3 class="mt-5 mb-0">
                    QUELQUES AVIS DE NOS FIDELES CLIENTS :
                </h3>
                <p>
                    <ul>
                        <li>
                            85% des gens regardent le visuel après avoir entendu le 
                            murmure de nos avions,
                        </li>
                        <li>
                            80% des personnes touchées apprécient ce type de communication,
                        </li>
                        <li>
                            30% déclarent vouloir acheter le produit.
                        </li>
                    </ul>
                </p>
            </div>
        
            <div id="div-init" class="text-center mt-5 mb-0 col-12 col-lg-4">
                {# <hr class="mt-5 mb-0"> #}
                <img id="img-init" class="img-fluid vw-100" src="{{ asset('img/trajetBanderole.png') }}" alt="">
                {# <div id="div-loupe">
                    <img id="img-zoom" src="{{ asset('img/trajetBanderole.png') }}" alt="">
                </div> #}
                <hr class="my-5">
                <img class="img-fluid vw-100" alt="Exemple trajets aller-retour" src="{{ asset('img/plageBanderole.png') }}">
                <hr class="my-5">
                <img class="img-fluid vw-100" alt="Exemple trajets aller-retour" src="{{ asset('img/plageBanderole2.png') }}">
                <hr class="my-5">
                <img class="img-fluid vw-100" alt="Exemple trajets aller-retour" src="{{ asset('img/plageBanderole3.png') }}">
                <hr class="mt-5 mb-0">
                {# <img class="img-fluid vw-100" alt="Exemple trajets aller-retour" src="{{ asset('img/plageBanderole4.png') }}">
                <hr class="my-5"> #}
            </div>
        </div>
        
        <p class="rouge fw-bold">
            N'attendez plus ! Donnez un souffle différent et novateur à 
            votre campagne.
        </p>
        <p class="rouge fw-bold">
            La publicité aérienne vous offre l'exclusivité de l'espace aérien 
            et vous permet d'optimiser efficacement les mérites de votre 
            produit ou de votre marque !
        </p>
        <p class="text-decoration-underline text-center rouge fw-bold my-5">
            N'HESITEZ PAS A NOUS CONTACTEZ POUR PLUS D'INFORMATIONS
        </p>
        <div class="row text-center">
            <div class="col">
                <a id="icone" class="bi bi-facebook mx-2" title="Facebook" target="_blank" href="https://business.facebook.com/AirVFlyingSpirit/"></a>
                <a id="icone" class="bi bi-youtube mx-2" title="YouTube" target="_blank" href="https://www.youtube.com/channel/UC7Vp6764-nZngpZElADbGpQ/featured"></a>
                <a id="icone" class="bi bi-twitter" title="Twitter" target="_blank" href="https://twitter.com/herve_panier"></a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-outline mx-3 billeterie" href="https://www.billetweb.fr/air-v-flying-spirit-bapteme-de-lair">
                    Achetez vos billets
                </a>
                <a type="button" class="btn btn-outline reserver" href="https://www.billetweb.fr/air-v-flying-spirit-bapteme-de-lair">
                    Réserver
                </a>
            </div>
        </div>
        <div class="my-5 text-center">
            <video class="img-fluid" controls src="{{ asset('video/banderole.mp4') }}" poster="{{ asset('img/posterBanderole.png') }}" type="video/mp4"></video>
        </div>

    </div>
</div>

{# <script>

    <body onload="prepare()" onmousemove="deplace(event)">

    let zoom, largeur, hauteur, carre;

    function prepare() {
      zoom = 3;
      largeur = 350;
      hauteur = 500;
      carre = 200;
      //document.getElementById("img-init").width = largeur;
      //document.getElementById("img-init").height = hauteur;
      document.getElementById("div-loupe").style.width = carre+"px";
      document.getElementById("div-loupe").style.height = carre+"px";
      document.getElementById("img-zoom").height = zoom*hauteur;
      document.getElementById("img-zoom").width = zoom*largeur;
    }

    function deplace(event) {
      let ie = false; /*@cc_on ie = true; @*/
      
      x = event.clientX;
      y = event.clientY;
      
      document.getElementById("div-loupe").style.left = x-(carre/2)+"px";
      document.getElementById("div-loupe").style.top = y-(carre/2)+"px";
      document.getElementById("img-zoom").style.left =  (-x*zoom) + (carre/2)+"px";
      document.getElementById("img-zoom").style.top = (-y*zoom) + (carre/2)+"px";
    }

</script> #}

{% endblock %}
